:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container.head {
  display: flex;
  align-items: center;
}

.main-nav .list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 93px;
  padding: 0;
}

.main-nav .item {
  margin-right: 50px;
}

.main-nav .select-nav {
  color: var(--accent-text-color);
  position: relative;
  display: block;
}

.main-nav .select-nav::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
}

.main-nav .item:last-child {
  margin-right: 0;
}

.main-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--accent-text-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contact-link + .contact-link {
  margin-left: 30px;
}

.contacts .contact-link {
  display: flex;
  align-items: center;
  color: var(--primari-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link .icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts .contact-link:hover,
.contacts .contact-link:focus {
  color: var(--accent-text-color);
}

.hero {
  max-width: 1600px;
  padding: 200px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 696px;

  color: var(--white-color);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--white-color);
  background-color: var(--accent-text-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
  outline: none;
  cursor: pointer;
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal b {
  display: inline-block;
  margin-bottom: 12px;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal .exit-btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--white-color);

  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .exit-btn:hover,
.modal .exit-btn:focus {
  color: #2196f3;
  cursor: pointer;
}

.exit-btn .icon {
  margin: auto;
  fill: currentColor;
}

.name-form .input-block {
  position: relative;
}

.name-form .icon-input {
  margin-left: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.general-form {
  margin: auto;
  width: 448px;
}

.general-form .name-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.name-form label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.185;

  letter-spacing: 0.01em;

  color: #757575;
}

.name-form .data {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
}

.data:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.data:focus + .icon-input {
  fill: var(--accent-text-color);
}

.name-form .data.area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.name-form .data.area::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox-label {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primari-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom-box {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/icon-check-off.svg);
  fill: #212121;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
  display: inline-flex;
}

.checkbox-input:checked + .checkbox-custom-box {
  background-image: url(../images/icon-check-on.svg);
  background-size: contain;
  cursor: pointer;
  background-repeat: no-repeat;
}

.checkbox-input:focus + .checkbox-custom-box {
  box-sizing: content-box;
  border-radius: 4px;
}

.checkbox-label a {
  color: var(--accent-text-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal .form-btn {
  padding: 10px 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.advantages {
  padding: 94px 0px;
}

.advantages h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages .list-item {
  margin-right: 30px;
  width: 270px;
}

.advantages .icon-advantages {
  margin: auto;
  width: 70px;
  height: 70px;
}

.advantages .block-icon {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.advantages .list-item:last-child {
  margin-right: 0px;
}

.advantages .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 94px;
}

.advantages p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primari-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.employment {
  padding-bottom: 94px;
}

.employment ul {
  display: flex;
  margin: 0px;
  padding-left: 0px;
}

.employment h2 {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.employment .item {
  margin-right: 30px;
  position: relative;
}

.employment .item:last-child {
  margin-right: 0;
}

.employment .item-title {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  align-items: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.about {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  padding: 94px 0px;
}

.about h2 {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.about .list-item {
  display: flex;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.about .item {
  margin-right: 30px;
  font-size: 0px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about .item:last-child {
  margin-right: 0;
}

.about .link {
  display: block;
  margin-bottom: 30px;
}

.about h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.about p {
  margin-top: 0px;
  margin-bottom: 16px;

  color: var(--primari-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.about .icon-block {
  display: flex;
  margin-bottom: 30px;
}

.about .icon-about {
  display: flex;
  margin-left: 10px;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about .icon-about:first-child {
  margin-left: 32px;
}

.about .icon-about:hover,
.about .icon-about:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.about .icon {
  fill: currentColor;
  margin: auto;
}

.clients {
  padding: 94px 0px;
}

.clients h2 {
  margin: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients .block-clients {
  display: flex;
  justify-content: space-between;
}

.clients .btn-client {
  display: flex;
  padding: 0px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: transparent;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .icon-client {
  fill: currentColor;
  margin: auto;
}

.clients .btn-client:hover,
.clients .btn-client:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
}

.footer span {
  color: var(--accent-text-color);
}

.footer .logo-link {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address p {
  margin-top: 0;
  margin-bottom: 9px;
  width: 231px;

  color: var(--white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.address {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.address .link {
  width: 231px;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.address .link:last-child {
  margin-bottom: 0px;
}

.block-footer {
  display: flex;
}

.footer .block-social {
  font-size: 0px;
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-left: 70px;
}

.block-social h3 {
  margin: 0;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.block-social .icon-about {
  display: inline-flex;
  color: var(--white-color);
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-social .icon-about:hover,
.block-social .icon-about:focus {
  background: #2196f3;
}

.block-social .icon-about:last-child {
  margin-right: 0px;
}

.block-social .icon {
  fill: currentColor;
  margin: auto;
}

.subscription {
  margin-top: 12px;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}

.subscription b {
  margin-bottom: 20px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscription .email {
  display: block;
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--white-color);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription .email::placeholder {
  font-style: 400;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscription .sub-button {
  display: flex;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscription .input-sub {
  display: flex;
}

.subscription .sub-button::after {
  content: '';
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
}

.main-section-portfolio {
  padding: 94px 0px;
}

.caption {
  display: none;
}

.nav-button {
  margin-bottom: 50px;
  text-align: center;
  font-size: 0;
}

.nav-button button {
  margin-right: 8px;
  padding: 6px 22px;

  color: var(--title-text-color);

  border: 0px solid transparent;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button button:last-child {
  margin-right: 0;
}

.nav-button button:hover,
.nav-button button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.galery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.title-galery {
  display: none;
}

.galery .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  background-color: var(--white-color);
  font-size: 0;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery .item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.galery .item:nth-child(3n + 3) {
  margin-right: 0;
}

.galery .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.galery h3 {
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.galery .image-product {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery .link:hover .description,
.galery .link:focus .description {
  transform: translateY(0);
}

.galery .link:focus .signature {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description p {
  margin: 0;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: var(--white-color);
}

.signature p {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  color: var(--primari-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.galery .signature {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
